{% extends "base_form.html" %}
{% set current_template = self._TemplateReference__context.name %}
{% block title %} Vista detallada {% endblock title %}

<body>
  {% block header %}
  Vista detallada
  {% endblock header %}
  {% block form %}
  <form action="{{ url_for('payments.download_receipt', id=payment.id) }}" method="POST" class="d-flex flex-column ">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      {% if field.label.text== "Pago fuera de termino" %}
        {{ field.label(class="form-label") }}
        {% if paid_late %} 
          <input type="text" class="form-control" disabled="true" value="Si"/> 
        {% else %} 
          <input type="text" class="form-control"  disabled="true" value="No"/> 
        {% endif %}
      {% else %}
        {{ field.label(class="form-label") }}
        {{ field(class="form-control",disabled = True) }}
      {% endif %}
      
    </div>
    {% endfor %}
    <button class="btn own_golden_bg own_border_radius mt-4">Descargar recibo</button>
  </form>
  {% endblock form %}
</body>
