{% set current_template = self._TemplateReference__context.name %}
{% extends "base.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}" />
{% endblock css %}
{% block title %} Pagos {% endblock title %}

<body>
  {% block content %}
  <div class="d-flex flex-column">
    <section class="d-flex align-self-center own_flex_column" id="searchHeader">
      {% include "search.html" %}
    </section>
    {% include "flashes.html" %}
    <section class="container">
      <div class="own_main_body own_centered">
        <table class="table table-striped table-bordered own_main_table">
          <thead>
            <tr class="own_table_header">
              <th style="width: 20%">Nombre y apellido</th>
              <th style="width: 10%">Numero de socio</th>
              <th style="width: 20%">Fecha</th>
              <th style="width: 10%">Monto</th>
              <th style="width: 10%">Pago tarde</th>
              <th style="width: 5%">Eliminar</th>
              <th style="width: 5%">Recibo</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in payments.items |sort(attribute='id', reverse = True ) %}
            <tr class="own_centered">
              <td> {{ payment.associate.name }} {{ payment.associate.surname }}</td>
              <td> {{ payment.associate.id }} </td>
              <td> {{ payment.date.strftime('%Y-%m-%d') }} </td>
              <td> {{ payment.amount }} </td>
              <td> {% if payment.paid_late %} Si {% else %} No {% endif %}</td>
              <td class="own_options_section">
                <form action="{{ url_for('payments.delete', id=payment.id) }}" method="post">
                  <button class="btn btn-outline-danger w-100 p-1 own_options_button"
                    onclick="return confirm('Seguro que desea eliminar a {{ payment.name }} {{ payment.surname }} con DNI {{payment.DNI_number}} ?');">
                    X
                  </button>
                </form>
              </td>
              <td class="own_options_section">
                <form action="{{ url_for('payments.download_receipt', id=payment.id) }}" method="post">
                  <button class="btn btn-outline-danger w-100 p-1 own_options_button">
                    Descargar
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% include "paginator.html"%}
  </div>

  <div class="d-flex align-center">
    {% endblock content%}
    {% block js%}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    {% endblock js%}
</body>