{% extends "base.html" %}
{% set current_template = self._TemplateReference__context.name %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/miscellaneous.css') }}" />
{% endblock css %}
{% block title %} Usuarios {% endblock title %}

<body style="
    /*background: url(&quot;design.jpg&quot;);*/
    background-position: 0 -60px;
    margin: 0px;
  ">
  {% block content %}
  <section
    class="d-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"
    style="display: flex; margin: 43px; color: rgba(45, 45, 45, 0.82)">
    <a href="{{ url_for('user.get_add') }}">
      <button class="btn btn-primary own_add_button" type="button">
        Registrar usuario
      </button>
    </a>
    <form class="search-form" style="box-shadow: 0px 0px" method="GET">
      <div class="input-group">
        <span class="input-group-text own_input"><i class="fa fa-search"></i></span><input class="form-control"
          type="text" placeholder="Buscar usuario" />
        <button class="btn btn-light own_search_button" type="button">
          Buscar
        </button>
      </div>
    </form>
  </section>
  {% include "flashes.html" %}
  <section style="margin: 43px">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nombre </th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Usuario</th>
          <th>Activo</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td> {{ user.first_name }} </td>
          <td> {{ user.last_name }} </td>
          <td> {{ user.email }} </td>
          <td> {{ user.username }} </td>
            {% if user.active %}
          <td> Si </td>
          {% else %}
          <td> No </td>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('user.get_update' ,id=user.id ) }}">
              <button class="btn btn-outline-info w-100 p-1" style="border-radius: 5px">
                Modificar
              </button>
            </a>
          </td>
          <td>
            <form action="{{ url_for('user.delete', id=user.id ) }}" method="post">
              <button type="submit" class="btn btn-outline-danger w-100 p-1" style="border-radius: 5px" name="Delete"
                value="{{ user.id }}"
                onclick="return confirm('Seguro que desea eliminar {{ user.first_name }} {{ user.last_name }} ?');">
                Eliminar
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% include "paginator.html"%}
  {% endblock content%}
  {% block js %}
  {{ super() }}
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  {% endblock js%}
</body>
