{% extends "base.html" %} 
{% set current_template =  self._TemplateReference__context.name %} 
  {% block css %}
  {{ super() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Articles-Cards-images.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/best-carousel-slide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table-styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/x-dropdown.css') }}" />
  {% endblock css %} 
{% block title %} Usuarios {% endblock title %}
<body
  style="
    /*background: url(&quot;design.jpg&quot;);*/
    background-position: 0 -60px;
    margin: 0px;
  ">
  {% block content %}
  <section
    class="d-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"
    style="display: flex; margin: 43px; color: rgba(45, 45, 45, 0.82)">
    <button
      class="btn btn-primary"
      type="button"
      style="
        width: auto;
        border-radius: 5px;
        font-size: 20px;
        padding: -28.4px 32px;
        margin: 37px;
      ">

     <a href="{{ url_for('user.get_add') }}"> Registrar usuario </a>
    </button>
    <form class="search-form" style="box-shadow: 0px 0px">
      <div class="input-group">
        <span class="input-group-text" style="border-radius: 5px 0px 0px 5px"
          ><i class="fa fa-search"></i></span
        ><input
          class="form-control"
          type="text"
          placeholder="Buscar socio" /><button
          class="btn btn-light"
          type="button"
          style="
            border-style: solid;
            border-top-color: rgb(182, 195, 205);
            border-right-color: rgb(182, 195, 205);
            border-bottom-color: rgb(182, 195, 205);
            border-left-color: rgb(182, 195, 205);
          ">
          Buscar
        </button>
      </div>
    </form>
  </section>
  <section style="margin: 43px">
    <table
      id="example"
      class="table table-striped table-bordered"
      cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th>Nombre </th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Usuario</th>
          <th>Contraseña</th>
          <th>Activo</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.password }}
            {% if user.active %}
              <td> Si </td>
            {% else %}
              <td> No </td>
            {% endif %}
            </td>
            <td>
              <a href="{{ url_for('user.get_update' ,id=user.id ) }}">
              <button
                class="btn btn-outline-info w-100 p-1"
                style="border-radius: 5px">
                Modificar
              </button>
              </a>
            </td>
            <td>
              <button
                class="btn btn-outline-danger w-100 p-1"
                style="border-radius: 5px">
                Eliminar
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section
    class="d-xxl-flex justify-content-xxl-center"
    style="text-align: center">
    <nav class="text-secondary">
      <ul class="pagination">
        <li class="page-item disabled">
          <a
            class="page-link"
            aria-label="Previous"
            href="#"
            style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
            ><span aria-hidden="true">«</span></a
          >
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">4</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">5</a></li>
        <li class="page-item disabled">
          <a
            class="page-link"
            aria-label="Next"
            href="#"
            style="
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            "
            ><span aria-hidden="true">»</span></a
          >
        </li>
      </ul>
    </nav>
  </section>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  {% endblock content%}
</body>