{% set current_template = self._TemplateReference__context.name %}
{% extends "base.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}" />
{% endblock css %}
{% block title %} Usuarios {% endblock title %}

<body>
  {% block content %}
  <section class="d-flex justify-content-xxl-center">
    <a href="{{ url_for('user.get_add') }}">
      <button class="btn own_golden_bg own_add_button" type="button">
        Agregar
      </button>
    </a>
    {% include "search.html" %}
  </section>
  <section class="container">
    {% include "flashes.html" %}
    <div class="own_main_body own_centered">
      <table class="table table-striped table-bordered own_main_table" style="width:80rem">
      <thead>
        <tr class="own_table_header">
          <th style="width: 15%">Nombre</th>
          <th style="width: 15%">Apellido</th>
          <th style="width: 20%">Email</th>
          <th style="width: 20%">Usuario</th>
          <th style="width: 10%">Modificar</th>
          <th style="width: 10%">Activo</th>
          <th style="width: 10%">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users.items %}
        <tr class="own_centered">
          <td> {{ user.first_name }} </td>
          <td> {{ user.last_name }} </td>
          <td> {{ user.email }} </td>
          <td> {{ user.username }} </td>
          <td class="own_options_section">
            <a href="{{ url_for('user.get_update' ,id=user.id ) }}">
              <button class="btn btn-outline-info w-100 p-1 own_options_button">
                Mod.
              </button>
            </a>
          </td>
          <td class="own_options_section">
            {% if user.active %}
            <form action="{{ url_for('user.disable', id=user.id) }}" method="post">
              <button class="btn btn-outline-success w-100 p-1 own_options_button"
                onclick="return confirm('Seguro que desea inhabilitar a {{ user.first_name }} {{ user.last_name }} ?');">
                Sí
              </button>
            </form>
            {% else %}
            <form action="{{ url_for('user.enable', id=user.id) }}" method="post">
              <button class="btn btn-outline-warning w-100 p-1 own_options_button"
                onclick="return confirm('Seguro que desea habilitar a {{ user.first_name }} {{ user.last_name }} ?');">
                No
              </button>
            </form>
            {% endif %}
          </td>
          <td class="own_options_section">
            <form action="{{ url_for('user.delete', id=user.id ) }}" method="post">
              <button type="submit" class="btn btn-outline-danger w-100 p-1 own_options_button" name="Delete"
                value="{{ user.id }}"
                onclick="return confirm('Seguro que desea eliminar {{ user.first_name }} {{ user.last_name }} ?');">
                X
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    
  </section>
  {% include "paginator.html"%}

  {% endblock content%}
  {% block js %}
  {{ super() }}
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  {% endblock js%}
</body>