{% extends "base.html" %}
{% set current_template = self._TemplateReference__context.name %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
<link rel="stylesheet" href="static/fonts/material-icons.min.css">
<link rel="stylesheet" href="static/css/Articles-Cards-images.css">
<link rel="stylesheet" href="static/css/Data-Table-styles.css">
<link rel="stylesheet" href="static/css/Data-Table.css">
<link rel="stylesheet" href="static/css/Ludens-Users---25-After-Register.css">
<link rel="stylesheet" href="static/css/Pretty-Search-Form-.css">
<link rel="stylesheet" href="static/css/x-dropdown.css">
{% endblock css %}
{% block title %} Modificar usuario {% endblock title %}

<body>
    {% block content %}
    <section class="py-5">
        <div class="container py-5">
            <section class="clean-block clean-form dark h-100" style="background: rgba(246,246,246,0);">
                <div class="container"
                    style="width: 900px;background: rgba(136,136,136,0.19);padding-bottom: 30px;padding-top: 0px;box-shadow: 0px 3px 10px 1px;">
                    <div class="d-md-flex d-lg-flex d-xl-flex justify-content-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center block-heading"
                        style="padding-top: 0px;background: rgba(181,161,102,0);text-align: center;">
                        <p class="d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center align-items-xl-center"
                            style="font-size: 36px;text-align: center;width: 500px;height: 60px;margin-bottom: 0px;margin-top: 10px;background: rgba(181,161,102,0.5);box-shadow: 0px 0px 5px 0px;">
                            Modificar usuario</p>
                    </div>
                    <p class="d-xl-flex justify-content-xl-center align-items-xl-center"
                        style="text-align: center;font-style: italic;">Los que tengan el * son datos que se tienen
                        <br>que rellenar obligatoriamente</p>
                    <form method="post" enctype="multipart/form-data"
                        role="form" style="box-shadow: 0px 0px 5px;">
                        {% for field in form %}
                        <div class="form-group mb-3">
                            <label class="form-label"> {{ field.label }}*</label>
                            <td> {{ field }} </td>
                        </div>
                        {% endfor %}
                        <hr style="margin-top: 30px;margin-bottom: 10px;">
                        <div class="form-group mb-3">
                            <button class="btn btn-primary d-block w-100" method="POST"
                                type="submit">&nbsp;Modificar</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    {% endblock content %}
</body>