<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/best-carousel-slide.css') }}">
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/miscellaneous.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap" />
  {% block css %}
  {% endblock css %}
  <title>{% block title %} Club Villa Elisa {% endblock title %}</title>
</head>

<body>
  {% include "navbar.html" %}

  <main id="main">{% block content %} {% endblock content%}</main>

  {% include "footer.html" %}

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bold-and-bright.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  {% block js %}
  {% endblock js %}
</body>

</html>