{% extends "base.html" %} 
{% set current_template = self._TemplateReference__context.name %} 
{% block css %}
{{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Articles-Cards-images.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/best-carousel-slide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/x-dropdown.css') }}">
{% endblock css %}
{% block title %} Configuración {% endblock title %}

<body>
    {% block content %}
    <section class="py-5">
        <section class="py-5">
            <div class="container">
                <div class="row mb-5" style="margin-left: 0px;margin-right: 0px;margin-bottom: 0px;width: auto;height: 50px;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto" style="width: 450px;">
                        <h2 class="fw-bold d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center" style="background: rgba(136,136,136,0.19);text-align: center;border-radius: 5px;border-width: 0px;border-color: var(--bs-black);margin: 0px;padding: 0;height: 60px;box-shadow: 0px 0px 10px;">Mi configuración</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center" style="margin-top: 0px;">
                    <div class="col-md-6 col-xl-4">
                        <div>
                            <form class="p-3 p-xl-4" method="post">
                                <div class="mb-3"><input class="form-control" type="text" id="name-1" name="cant_elementos" placeholder="Cantidad de elementos" pattern="^\d*[1-9]\d*$" style="border-radius: 5px;"></div>
                                <div class="x-dropdown dropdown">
                                    <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown" style="font-size: 16px;color: rgb(45,45,45);border-radius: 5px;border: 1px solid rgba(45,45,45,0.2);"><span style="color: rgba(45,45,45,0.7);">Criterio de ordenación</span><i class="material-icons" style="color: rgba(45,45,45,0.7);transform: skew(0deg);">keyboard_arrow_down</i></div>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">xxxxx1</a><a class="dropdown-item" role="presentation" href="#">xxxx2</a><a class="dropdown-item" role="presentation" href="#">xxxxxx3</a></div>
                                </div>
                                <div class="mb-3"></div>
                                <div class="mb-3"></div>
                                <div><button class="btn btn-primary shadow d-block w-100" type="submit" style="border-radius: 5px;font-size: 20px;">Guardar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    {% endblock content %}
</body>
