<footer class="footer text-center text-lg-start bg-light text-muted position-relative bottom-0 top-0 w-100">
  <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Podes comunicarte con nosotros mediante:</span>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="min-width:100px;">
      <a target="_blank" href="https://www.facebook.com/eldepove" class="text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a target="_blank" href="https://twitter.com/deportivove" class="text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/eldepove/" class="text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Club Deportivo Villa Elisa
          </h6>
          <p>
            Primer club histórico de la ciudad
          </p>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 d-flex justify-content-center">
          <img alt="Logo del Club" src="{{ url_for('static', filename='img/logo_club.png') }}" style="height:10rem;" />
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3"></i> Camino Centenario y 48</p>
          <p>Villa Elisa, La Plata</p>
          <p><i class="fas fa-phone me-3"></i>(0221) 487-0193</p>
        </div>
      </div>
    </div>
  </section>
</footer>