<nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3"
  style="background-color:rgb(250, 250, 250);" id="mainNav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/" style="width:100px;">
      <img alt="Logo del Club" src="/public/img/logo_club.png" style="width: 80px;">
    </a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    {% set current_template = current_template.rsplit("/")[0].rsplit(".")[0] %}
    {% set nav_list =
    [("user.index","Usuarios"),("discipline.index","Disciplinas"),
    ("associate.index","Socios"),("payments.index","Pagos"),("configuration.index","Configuración")]
    %}

    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav mx-auto">
        {% for nav,name in nav_list %}
        {%if auth or (is_authenticated(session) and has_permission(session["user"],nav.rsplit(".")|join("_")) )%}
        <li class="nav-item">
          {% if current_template == nav.rsplit(".")[0] %}
          <a class="nav-link active" href={{url_for(nav)}}>{{name}}</a>
          {% else %}
          <a class="nav-link" href={{ url_for(nav) }}>{{name}}</a>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% if is_authenticated(session) %}
      <a class="btn shadow own_golden_bg px-3" role="button" href="{{ url_for('auth.logout') }}"
        style="border-radius: 5px ">Cerrar sesión</a>
      {% else %}
      <a class="btn shadow own_golden_bg px-3" role="button" href="{{ url_for('auth.login') }}"
        style="border-radius: 5px ">Iniciar sesión</a>
      {% endif %}
    </div>
  </div>
</nav>