<section
  class="d-xxl-flex justify-content-xxl-center"
  style="text-align: center">
  <nav class="text-secondary">
    <ul class="pagination">
      {% if prev_url %}
        <a
          class="page-link"
          aria-label="Previous"
          href={{ prev_url }}
          style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
          ><span aria-hidden="true">«</span></a
        >
      {% endif %}
      {% for url,number in pages_urls %}
          <a
          class="page-link"
          aria-label={{ number }}
          href={{ url }}
          ><span aria-hidden="true">{{ number }}</span></a
        >
      {% endfor %}
      {% if next_url %}
        <a
          class="page-link"
          aria-label="Next"
          href={{ next_url }}
          style="
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          "
          ><span aria-hidden="true">»</span></a
        >
        {% endif %}
    </ul>
  </nav>
</section>