<section
  class="d-xxl-flex justify-content-xxl-center"
  style="text-align: center">
  <nav class="text-secondary">
    <ul class="pagination">
      <li class="page-item disabled">
        <a
          class="page-link"
          aria-label="Previous"
          href="#"
          style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
          ><span aria-hidden="true">«</span></a
        >
      </li>
      <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">4</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">5</a></li>
      <li class="page-item disabled">
        <a
          class="page-link"
          aria-label="Next"
          href="#"
          style="
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          "
          ><span aria-hidden="true">»</span></a
        >
      </li>
    </ul>
  </nav>
</section>