@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  color-scheme: light dark;

  background-color: #ffffff;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.active{
  font-weight:700 !important;
}

*{
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
nav{
  min-height: 15vh;
}
main{
  min-height: 85vh;

}

.btn-secondary{
  background: #b5a166 !important;
  color: #333 !important;
  border: solid 1px transparent !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
  transition: 0.3s !important;
}

.btn-secondary:hover {
  border: solid 1px #333 !important;
  background: transparent !important;
}

/* TODO: revisit when prefering other styles
@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}
*/
