{% extends "base.html" %} 
{% set current_template = self._TemplateReference__context.name %} 
{% block css %}
{{ super() }}
{% endblock css %} {% block title %} Agregar asosociado {% endblock title %}
<body>
    {% block content %}
        <form action="{{ url_for('associate.post_add') }}" method="POST" class="d-flex flex-column"> 
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
            {% include "form_errors.html" %}
            <input type="submit" value="Agregar asociado" class="btn own_golden_bg">
        </form>
    {% endblock content %}
</body>

