{% set current_template = self._TemplateReference__context.name %}
{% extends "base_list.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}" />
{% endblock css %}
{% block title %} Agregar Disciplina {% endblock title %}

<body>
  {% block upperbar %}
  <div class="d-flex flex-column align-items-center mt-3" id="searchHeader">
    {% if has_permission(session["user"],"associate_index") %}
    <a class="btn own_golden_bg own_button" href="{{url_for('associate.index')}}">
      Volver al listado
    </a>
    {%endif%}
    {% include "search.html" %}
  </div>
  {% endblock upperbar %}
  {% block table %}
  <table id="example" class="table table-striped table-bordered">
    <thead>
      <tr class="own_table_header">
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Instructores</th>
        <th>Días y horarios</th>
        <th>Costo mensual</th>
        {% if has_permission(session["user"],"associate_update") %}
        <th>Acciones</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for discipline in disciplines %}
      <tr>
        <td style="--title1:'Nombre';"> {{ discipline.name }} </td>
        <td style="--title2:'Categoría';"> {{ discipline.category }} </td>
        <td style="--title3:'Instructores';"> {{ discipline.instructors }} </td>
        <td style="--title4:'Días y horarios';"> {{ discipline.dates }} </td>
        <td style="--title5:'Costo mensual';"> {{ discipline.monthly_cost }} {{ currency }}</td>
        <td style="--title6:'Accion';">
          {% if discipline in associate.disciplines and has_permission(session["user"],"associate_update") %}
          <form action="{{ url_for('associate.delete_discipline', id=associate.id,discipline_id=discipline.id) }}"
            method="post">
            <button class="btn btn-outline-danger w-100 p-1 own_options_button" style="border-radius: 5px" name="Update"
              value="{{ discipline.id }}">
              Dar baja
            </button>
          </form>
          {% elif has_permission(session["user"],"associate_update") %}
          <form action="{{ url_for('associate.register_discipline', id=associate.id,discipline_id=discipline.id) }}"
            method="post">
            <button class="btn btn-outline-info w-100 p-1 own_options_button" style="border-radius: 5px" name="Update"
              value="{{ discipline.id }}">
              Dar alta
            </button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock table %}
  {% block js%}
  {{ super() }}
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  {% endblock js%}
</body>
