{% set current_template = self._TemplateReference__context.name %}
{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}" />
{% endblock css %}
{% block title %} Carnet de socio {% endblock title %}

<body>
    {% block content %}
    {% include "flashes.html" %}
    <div class="d-flex align-items-center flex-column mt-3 pb-5 justify-content-center w-100 h-100">
        <div class="d-flex flex-column justify-content-center align-items-center" id="searchHeader">
            {% if has_permission(session["user"],"associate_index") %}
            <a class="btn own_golden_bg own_button" href="{{url_for('associate.index')}}">
            Volver al listado
            </a>
            {%endif%}
        </div>

        <div class="flex-row mt-5 justify-content-center align-items-center own_form_title w-50">
            <form method = "POST" enctype = "multipart/form-data" action="{{ url_for('associate.club_card_view_post',id=associate.id) }}">
                <div style="width: 100%" class="d-flex justify-content-center">
                    <input class="form-control" type="file" name="image" id="image" 
                            style="max-width: 400px;" placeholder="Suba foto del asociado"/>
                </div>
                <input class="btn own_golden_bg own_border_radius mb-3 mt-4"type="submit" value="Subir foto"/>
            </form>        
        </div>
        <div class="d-flex flex-column mt-5 justify-content-center align-items-center own_form_title w-100">
            <img src="{{url_for('static', filename='associate_card.png')}}" class="img-fluid mx-auto d-block" alt="Responsive image" >
        </div>

        <form action="{{ url_for('associate.club_card_download', id=associate.id) }}" method="POST" class="d-flex flex-column ">
        <button class="btn own_golden_bg own_border_radius mt-4">Descargar carnet</button>
        </form>
        <form action="{{ url_for('associate.club_card_download_pdf', id=associate.id) }}" method="POST" class="d-flex flex-column ">
            <button class="btn own_golden_bg own_border_radius mt-4">Descargar en PDF</button>
        </form>
    </div>
    {% endblock content %}

  </body>
  