{% set current_template = self._TemplateReference__context.name %}
{% extends "base.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}" />
{% endblock css %}
{% block title %} Socios {% endblock title %}

<body>
  {% block content %}
  <section class="d-flex justify-content-xxl-center">
    <table style="margin-right:100px; margin-top:6px">
      <tr>
        <p class="own_export_text"><b>Exportar:</b></p>
      </tr>
      <tr>
        <td>
          <form method="GET" action="{{ url_for('associate.write_csv') }}">
            <input type="image" src="/public/img/Excel_icon.png" style="width: 80%; margin-right:10px;">
          </form>
        </td>
        <td>
          <form method="GET" action="{{ url_for('associate.write_pdf') }}">
            <input type="image" src="/public/img/PDF_icon.png" style="width: 100%;">
          </form>
        </td>
      </tr>
    </table>
    <a href="{{ url_for('associate.get_add') }}">
      <button class="btn own_golden_bg own_add_button" type="button">
        Agregar Asociado
      </button>
    </a>
    {% include "search.html" %}
  </section>
  <section class="own_main_body">
    {% include "flashes.html" %}
    <table class="table table-striped table-bordered own_main_table">
      <thead>
        <tr class="own_table_header">
          <th class="own_medium-col">Nombre y apellido</th>
          <th class="own_small-col">DNI</th>
          <th class="own_medium-col">Domicilio</th>
          <th class="own_small-col">Estado</th>
          <th class="own_large-col">Disciplinas</th>
          <th class="own_small-col">Modificar</th>
          <th class="own_small-col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for associate in associates.items %}
        <tr class="own_centered">
          <td> {{ associate.name }} {{ associate.surname }}</td>
          <td> {{ associate.DNI_number }} </td>
          <td> {{ associate.address }} </td>
          <td> {% if associate.active %} Activo {% else %} Inactivo {% endif %} </td>
          <td> {% if associate.disciplines %}
            {% for disciplina in associate.disciplines %}
            {{ disciplina }} ,
            {% endfor %}
            {% else %}
            No esta anotado a disciplinas
            {% endif %}
          </td>
          <td class="own_options_section">
            <a href="{{ url_for('associate.get_update' ,id=associate.id) }}">
              <button class="btn btn-outline-info w-100 p-1 own_options_button">
                Mod.
              </button>
            </a>
          </td>
          <td class="own_options_section">
            <form action="{{ url_for('associate.delete', id=associate.id) }}" method="post">
              <button class="btn btn-outline-danger w-100 p-1 own_options_button"
                onclick="return confirm('Seguro que desea eliminar a {{ associate.name }} {{ associate.surname }} con DNI {{associate.DNI_number}} ?');">
                X
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% include "paginator.html"%}
  <div class="d-flex align-center">
    {% endblock content%}
    {% block js%}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    {% endblock js%}
</body>