{% extends "base.html" %} 
{% set current_template =  self._TemplateReference__context.name %} 
  {% block css %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Articles-Cards-images.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/best-carousel-slide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table-styles.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/Data-Table.css') }}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pretty-Search-Form-.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/x-dropdown.css') }}" />
  {% endblock css %} 
{% block title %} Socios {% endblock title %}
<body
  style="
    /*background: url(&quot;design.jpg&quot;);*/
    background-position: 0 -60px;
    margin: 0px;
  ">
  {% block content %}
  <section
    class="d-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"
    style="display: flex; margin: 43px; color: rgba(45, 45, 45, 0.82)">
    <button
      class="btn btn-primary"
      type="button"
      style="
        width: auto;
        border-radius: 5px;
        font-size: 20px;
        padding: -28.4px 32px;
        margin: 37px;
      ">

     <a href="{{ url_for('associate.get_add') }}"> Agregar Personas </a>
    </button>
    <form class="search-form" style="box-shadow: 0px 0px">
      <div class="input-group">
        <span class="input-group-text" style="border-radius: 5px 0px 0px 5px"
          ><i class="fa fa-search"></i></span
        ><input
          class="form-control"
          type="text"
          placeholder="Buscar socio" /><button
          class="btn btn-light"
          type="button"
          style="
            border-style: solid;
            border-top-color: rgb(182, 195, 205);
            border-right-color: rgb(182, 195, 205);
            border-bottom-color: rgb(182, 195, 205);
            border-left-color: rgb(182, 195, 205);
          ">
          Buscar
        </button>
      </div>
    </form>
  </section>
  <section style="margin: 43px">
    <table
      id="example"
      class="table table-striped table-bordered"
      cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th>Nombre y apellido</th>
          <th>DNI</th>
          <th>Domicilio</th>
          <th>Estado</th>
          <th>Disciplinas</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for associate in associates %}
          <tr>
            <td> EMPTY FOR NOW </td>
            <td> {{ associate.DNI_number }} </td>
            <td> {{ associate.address }} </td>
            <td> EMPTY FOR NOW </td>
            <td> {% for disciplina in associate.disciplines %} 
                {{ disciplina }} , 
                {% endfor %}
            </td>
            <td>
              <button
                class="btn btn-outline-info w-100 p-1"
                style="border-radius: 5px">
                Modificar
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-danger w-100 p-1"
                style="border-radius: 5px">
                Eliminar
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% include "paginator.html"%}
  {% endblock content%}
  {% block js%}
  {{ super() }}
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  {% endblock js%}
</body>