{% extends "base.html" %} 
{% set current_template = self._TemplateReference__context.name %} 
{% block css %}
{{ super() }}
{% endblock css %} {% block title %} Agregar disciplina {% endblock title %}

<body>
    {% block content %}
        {% block form %}
            <form action="{{ url_for('discipline.post_add') }}" method="POST" class="d-flex flex-column"> 
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                <button type="submit">Agregar Disciplina</button>
            </form>
        {{super()}}
        {% endblock form %}
    {% endblock content %}
</body>